<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>  WEBKORPS</title>
    <link rel="icon" type="image/x-icon" href="images/Grouplogo.svg">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
   
  </head>
  <body class="body1">
      <section class="section1">
      <div class="overlay">
    <div class="container-fluid ">
      <div class="row background_logo_text">
        <p class="logo-text m-lg-4  ">
          <img src="images/Grouplogo.svg" alt="logo"  class="mb-2 img_profile"  width="60"
          height="70" />
            
          WEBKORPS
        </p>
      </div>
        <div class="container d-flex justify-content-center mt-5 ">
            <div class="card login1_card1 mt-5 container " style="border-radius:13px;height: 25rem; width: 32rem;">
              <div class="card-body px-5">
                <h1 class="card-title text-center fw-bold mb-sm-5 ">Account Verification</h1>
                <p>A verification code has been sent to your email check your spam if you did not see the inbox. input code to verify your email address</p>
                <form>
                    <div class="form-group  ">
                      <label  class="mb-2">Verification code </label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                    </div>
                      <div class="d-flex justify-content-center mt-3 ">         
                    <button type="submit " class="btn btn-primary px-5 fw-bold fs-5 mt-sm-4 mb-5">Log in</button>
                </div> 
                  </form>
          </div>
        </div>
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <div class="margin_copyright_regestration1">
      <p class="text-center text-white fw-bold mt-3">
        Copyright@webkorps2021
      </p>
    </div>
</div>
</section>
  </body>
</html>
