<!DOCTYPE html>
<html lang="eg" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Webkorps</title>
<link rel="icon" type="image/x-icon" href="images/Grouplogo.svg" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body class="body1">
	<section class="section4">
		<div class="container-fluid container_contest">
			<div class="nav mt-4 bg_white1">
				<div class="left mx-5 mt-1">
					<img src="images/Grouplogo.svg" alt="logo" class="mb-2" width="60"
						height="70" />
					<p class="logo-text">WEBKORPS</p>
				</div>
			</div>
			<div class="container mx-auto">

				<div class="d-flex justify-content-center mt-5">

					<div class="">
						<div class="answer7">
							<h4 class="text-white text-center pt-2 fw-bold  answer1_font">
								<a href="#" class="text-decoration-none text-white">All
									Questions</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="div_card_white mx-auto mt-5 ">
					<div class="answersheet_upper ">
						<div class="mx-4 mt-4">
							<h3 class="answer_sheet_font">All Questions</h3>
						</div>
						<div class=" d-flex ">
							<div>
								<select class=" form-select  option-dropdown2 mt-3 mx-5" id="drop">
								
									<option value="All" selected="selected">All</option>
									<option value="Level 1">Level 1</option>
									<option value="Level 2">Level 2</option>
								</select>
							</div>
						</div>
					</div>
					<div class="added_questions overflow-y-scroll ">
						<div th:each="q:${questions}">
							<div th:class="${q.questionId}">
								<div class="added_question_box row mx-4 mt-3">
									<div class="col-8">
										<p class="added_question_box_text">
											<span class="added_question_box_text" th:text="${q.question}"></span>
										</p>
									</div>									
									<div class="col-1 mt-3 btn_img_cross " th:id="${q.questionId}"
										onclick="deleteQuestion(this.id)" align="right">
										<img src="images/crossbtn.svg" alt="logo" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<script>
	$(document).ready(function() {
		debugger;
	console.log(sessionStorage.getItem("form-select"));
	if(sessionStorage.getItem("form-select")!=null)
		{
	        $('.form-select').val(sessionStorage.getItem("form-select"));
	        sessionStorage.removeItem("form-select");	
		}
	
	});
        function deleteQuestion(divId) {  
        	console.log("===>",divId);
        	var qid=divId;
        	var pDoc = document.getElementById(divId);
        	pDoc.parentNode.remove();
        	 $.ajax({
                 url: "/deletequestion",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 method: "POST",
                 data: JSON.stringify(qid),
                 success: function (response) {
                	  window.location.href = "allquestions";
                 },
                 error: function (error) {
                	  window.location.href = "allquestions";
                     console.log(error);
                 },

             });
        	
        }
        
        $('.form-select').change(function(){
        	
			var level = $(".form-select").val();	
			debugger;
			console.log(level);
			 $.ajax({
                 url: "/filterbasedonlevel",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 method: "POST",
                 data: JSON.stringify(level),
                 success: function (response) {
                	 console.log(response);
                	window.location.href = "returnpagebasedonfilter";
                 },
                 error: function (error) {  
                	 window.location.href = "returnpagebasedonfilter";
                     console.log(error);
                 },
                
             });
			 debugger;
			 sessionStorage.setItem("form-select", $(this).val());
			
        });
    
        </script>
       
</body>

</html>