<!DOCTYPE html>
<html lang="eg" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Solve Challenge</title>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>

<link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css" />

<link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css" />
<link rel="icon" type="image/x-icon" href="images/Grouplogo.svg" />
<link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css" />

<link rel="stylesheet" href="css/style.css" />
</head>
<body>

 <section>
 <div class="overla">
        <div class="container-fluid container_contest">
          <div class="nav mt-4 bg_white1">
            <div class="left mx-5">
              <img
                src="images/Grouplogo.svg"
                alt="logo"
                class="mb-2 mx-2"
                width="60"
                height="70"
              />
              <p class="logo-text1">WEBKORPS</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row mt-4">
            <div class="col-6">
              <div class="div_card_inner_white_compiler1 bg-light">
                <div class="row">
                  <div class="col-1 div_card_inner_blue1"></div>
                  <div class="col-11 second-div1">
                    <div class="col-2 compiler_heading">
                      <h1 class="compiler_heading_text pt-2">Test Case 1</h1>
                    </div>
                    <div class="col">
                      <label class="fw-bold text-dark _problem_input1">
                        <p>Problem statement</p> </label
                      ><br />
                      <textarea
                        readonly="readonly"
                        class="form-control testcase_problem_input2 bg-white"
                        placeholder="Write a Program to Reserve a String?"
                      ></textarea>
                    </div>
                    <div class="col">
                      <label class="fw-bold text-dark problem_input1 mt-2">
                        <p>Constraints</p>
                      </label>
                      <textarea
                       readonly="readonly"
                        class="form-control testcase_problem_input2 bg-white"
                        placeholder="String ! = null"
                      ></textarea>
                    </div>
                    <div class="col third-div">
						<div class="col mx-4">
						  <label class="fw-bold text-dark mt-2"
							>Sample Input</label
						  >
						  <textarea
							readonly="readonly"
							class="form-control testcase_problem_input5 bg-white"
							placeholder="input here"
						  ></textarea>
						</div>
						<div class="col">
						  <div class="">
							<label class="fw-bold text-dark mt-2"
							  >Sample Output
							</label>
  
							<textarea
							  readonly="readonly"
							  class="form-control bg-white testcase_problem_input3"
							  placeholder="output here"
							></textarea>
						  </div>
						</div>
					  </div>
                    <div class="row"></div>
                  </div>
				  
				  <div class="">  <button
                    class="compiler_screen_test btn btn-outline-primary text-light fw-bold next_button_compiler"
                  >
                    Next
                  </button></div>
                </div>
              </div>
            </div>
            <div class="col-6">
				<div class="compiler_screen_upper">
					<div class="px-2">
					  <h1 class="compiler_screen_upper_text">Code Compiler</h1>
					</div>
					<div class="d-flex justify-content-end">
					  <div class="pt-4 float-end select_technology_padding">
						<h1 class="compiler_screen_upper_text2">
						  Select Technology
						</h1>
					  </div>
					  <div class="pt-3">
						<select
						  class="btn compiler_screen_upper_btn2 text-dark fw-bold  mx-2 "
						  aria-label="Default select example  "
						>
						  <option value="1">C</option>
						  <option value="2">C++</option>
						  <option value="3">Java</option>
						  <option value="4">Python</option>
						</select>
					  </div>
					</div>
				  </div>
				  <div class="editor" id="editor"></div>
				  
					<div class="d-flex justify-content-center button_compiler1 px-4">
					  <button
						class="compiler_screen_test btn btn-outline-primary text-light fw-bold"
					  >
						Test
					  </button>
					  <button
						class="compiler_screen_test btn btn-outline-primary text-light fw-bold mx-3"
					  >
						Submit
					  </button>
					</div>
				
              
              <div class="row">
                <div class="col-12 mt-2 ">
                  <div class="test_code1 ">
                    <div class="test_code_heading">
                      <h1 class="test_code_heading_text mx-3 pb-2 pt-2">
                        Test Code
                      </h1>
                    </div>
                    <div class="compiler_test_code_scroll">
                      <div>
                        <h1 class="text_testcode1 px-4">elppa</h1>
                      </div>
                      <div class="">
                        <h1 class="text_testcode1 px-4">elppa</h1>
                      </div>
                      <div class="">
                        <h1 class="text_testcode1 px-4">elppa</h1>
                      </div>
                      <div class="">
                        <h1 class="text_testcode1 px-4">elppa</h1>
                      </div>
                      <div class="">
                        <h1 class="text_testcode1 px-4">elppa</h1>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
   
   
           
    </section>
	
	
	<!-- JS only -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="js/lib/ace.js"></script>

<script src="js/lib/theme-monokai.js"></script>

<script src="js/editor.js" ></script>

<script src="js/challenge.js" ></script>

<script type="text/javascript">

function submitCode(){
	var language = $("#languages").val();
	var submit = $("#submit").val();
	var code     = editor.getSession().getValue();
	var questionId = $("#questionId").val();
	console.log(language);
	console.log(code);

	if(language == 'java'){

	 var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId), 'submit': submit };

	 $.ajax({
	        url: "/java-compiler-db-api",
	        contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        method: "POST",
	        data: JSON.stringify(d),

	      success: function(response) {
	           //console.log(response.status);
	           console.log(response.output);
				$(".output1").text(response.output)
	        },

	      error: function(error){
	          console.log(error);
	        },

	    });
	  }
  if(language == 'python') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

 	 $.ajax({
 	        url: "/python-compiler-db-api",
 	        contentType: "application/json; charset=utf-8",
 	        dataType: "json",
 	        method: "POST",
 	        data: JSON.stringify(d),

 	      success: function(response) {
 	           //console.log(response.status);
 	           console.log(response.output);
 				$(".output1").text(response.output)
 	        },

 	      error: function(error){
 	          console.log(error);
 	        },

 	    });
 	  }
  if(language == 'cpp') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

  	 $.ajax({
  	        url: "/cpp-compiler-db-api",
  	        contentType: "application/json; charset=utf-8",
  	        dataType: "json",
  	        method: "POST",
  	        data: JSON.stringify(d),

  	      success: function(response) {
  	           //console.log(response.status);
  	           console.log(response.output);
  				$(".output1").text(response.output)
  	        },

  	      error: function(error){
  	          console.log(error);
  	        },

  	    });
    }
  if(language == 'c') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

  	 $.ajax({
  	        url: "/c-compiler-db-api",
  	        contentType: "application/json; charset=utf-8",
  	        dataType: "json",
  	        method: "POST",
  	        data: JSON.stringify(d),

  	      success: function(response) {
  	           //console.log(response.status);
  	           console.log(response.output);
  				$(".output1").text(response.output)
  	        },

  	      error: function(error){
  	          console.log(error);
  	        },

  	    });
  	  }
  }
  
function runCode(){
	var language = $("#languages").val();
	var run = $("#run").val();
	var code     = editor.getSession().getValue();
	var questionId = $("#questionId").val();
	console.log(language);
	console.log(code);

	if(language == 'java'){

	 var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId), 'run': run };

	 $.ajax({
	        url: "/java-compiler-db-api",
	        contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        method: "POST",
	        data: JSON.stringify(d),

	      success: function(response) {
	           //console.log(response.status);
	           console.log(response.output);
				$(".output1").text(response.output)
	        },

	      error: function(error){
	          console.log(error);
	        },

	    });
	  }
  if(language == 'python') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

 	 $.ajax({
 	        url: "/python-compiler-db-api",
 	        contentType: "application/json; charset=utf-8",
 	        dataType: "json",
 	        method: "POST",
 	        data: JSON.stringify(d),

 	      success: function(response) {
 	           //console.log(response.status);
 	           console.log(response.output);
 				$(".output1").text(response.output)
 	        },

 	      error: function(error){
 	          console.log(error);
 	        },

 	    });
 	  }
  if(language == 'cpp') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

  	 $.ajax({
  	        url: "/cpp-compiler-db-api",
  	        contentType: "application/json; charset=utf-8",
  	        dataType: "json",
  	        method: "POST",
  	        data: JSON.stringify(d),

  	      success: function(response) {
  	           //console.log(response.status);
  	           console.log(response.output);
  				$(".output1").text(response.output)
  	        },

  	      error: function(error){
  	          console.log(error);
  	        },

  	    });
    }
  if(language == 'c') {
	  var d = { 'language': language, 'code': editor.getSession().getValue(), questionId: parseInt(questionId) };

  	 $.ajax({
  	        url: "/c-compiler-db-api",
  	        contentType: "application/json; charset=utf-8",
  	        dataType: "json",
  	        method: "POST",
  	        data: JSON.stringify(d),

  	      success: function(response) {
  	           //console.log(response.status);
  	           console.log(response.output);
  				$(".output1").text(response.output)
  	        },

  	      error: function(error){
  	          console.log(error);
  	        },

  	    });
  	  }
  }
</script>
</body>
</html>