<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WEBKORPS</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="images/Grouplogo.svg">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body class="body1">
      <section class="section1">
      <div class="overlay">
    <div class="container-fluid ">
      <div class="row background_logo_text">
        <p class="logo-text  m-4">
                <img src="images/Grouplogo.svg" alt="logo" width="55" height="65">
          WEBKORPS
        </p>
      </div>
        <div class="container d-flex justify-content-center ">
            <div class="card login_card mt-lg-5 container px-5" style="border-radius:13px;height: 44rem; width: 30rem;">
              <div class="card-body ">
                <h1 class="card-title text-center fw-bold mb-3">Register</h1>
            <div class="parent d-flex justify-content-center mb-4">
              <div class="circle_button-1 rounded-circle  text-center fs-5 bg-primary text-light fw-bolder">
                <a class="text-decoration-none text-white" href="Register.html">1</a> 
               </div>
              <div class="line-3">
                <hr class="hr1  ">
              </div>
              
              <div class="circle_button-2 rounded-circle text-center fs-5 bg-primary text-light fw-bolder">
                2
              </div>
            </div>
                <form>
                  <h6 class="text-dark fw-bold mb-2"><span class="req_input">*</span>Required Field</h6>
                    <div class="form-group">
                      <label class="mb-2">Position<span class="req_input">*</span></label>
                      <input type="text" class="form-control"    required="true">
                    </div>
                    <div class="form-group mt-4">
                      <label  class="mb-2">New Password<span class="req_input">*</span></label>
                      <input type="password" class="form-control"  required="true" >
                    </div>
                    <div class="form-group mt-4">
                      <label  class="mb-2">Confirm Password<span class="req_input">*</span></label>
                      <input type="password" class="form-control" required="true" >
                    </div>
                    <div class="d-flex justify-content-center mt-5">      
                    <button type="submit " class="btn btn-primary button_register px-5 fw-bold fs-5 mb-3">Continue</button>
                </div> 
                </div>
                  <p class="text-center text-secondary mt-2">Have an account? <span class="text-primary fw-bold"><a href="Login.html" class="text-decoration-none ">Login</a></span></p>
              </div>   
          </div>
        </div>
        <div class="">
          <p class="text-center text-white  mb-5 fw-bold mt-5 copyright_text"> Copyright@webkorps2021</p>  
          </div> 
      </div>
      </div>
  
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
</div>
</section>
  </body>
</html>
